@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    background-image: url(https://media.istockphoto.com/id/836965294/es/foto/fondos-con-textura-de-tela-de-lino.jpg?s=612x612&w=0&k=20&c=qm7oTsge8G8LzBR1MlPLIc0F0iL4i2Wd0MqVyjfs92g=);
    top: 0;
}
/*Estilos de texto en movimiento*/
.contenedor-texto-en-movimiento{
    display: flex;
    overflow-x: hidden;
    width: 100%;
    gap: 100px;
    background-color: black;
}
.texto-en-movimiento{
    color: white;
    animation: scroll 20s linear infinite;
    font-size: 12px;
    white-space: nowrap;
}

@keyframes scroll { 
    0%{
        transform: translateX(-100%);/*Posicion Inicial*/
    }
    100%{
        transform: translateX(250%);/*Posicion Final*/
    }
}
/*Estilos de mi encabezado*/
.contenedor-encabezado-nav{
    background-color: black;
}
.contenedor-encabezado{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}
.contenedor-logo-center{
    text-align: center;
    & h4{
        color: white;
        font-weight: 400;
        font-size: 40px;
        text-transform: uppercase;
    }
    & span{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 200;
        color: white;
    }
}
.icons-left{
    display: flex;
    gap: 10px;
}

.icons-right{
    display: flex;
    gap: 10px;
}
.icon-encabezado{
    color: white;
    font-weight: 300;
    cursor: pointer;
    padding: 3px;
    font-size: 28px;
    transition: all .2s;
    &:hover{
        font-weight: 500;
        background-color: rgb(12, 12, 12);
    }
}

/*Estilos para el carrito de compras*/
.icon-trolley{
    position: relative;
}
.trolley-contador{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#ff6600 ;
    padding: 2px;
    font-weight: 500;
    font-size: 10px;
}
/*Estilos de campo de busqueda*/
.contenedor-busqueda{
    display: none;
    width: 40%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    gap: 20px;
    & #btn-cerrar-search{
        margin-left: 10px;
        margin-top: 10px;
        color: black;
        cursor: pointer;
        &:hover{
            background-color: white;

        }
    }
    & .campo-busqueda{
        padding: 0 10px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        & input{
            font-family: "Montserrat";
            height: 35px;
            width: 100%;
            padding: 0 10px;
            border: 1px solid rgb(187, 187, 187);
            &:hover{
                border: 1px solid rgb(134, 134, 134)
            }
            &:focus{
                outline: none;
                border: 1px solid rgb(99, 99, 99)
            }
        }
        & span{
            position: absolute;
            right: 10px;
            color: rgb(187, 187, 187);
            transition: color .2s;
            cursor: pointer;
            &:hover{
                color: rgb(75, 75, 75);
            }
        }
        

    }
}
/*Estilos nav slider principal*/
.nav-slider-principal{
    position: fixed;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.884);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    justify-content:left;
    align-items: flex-start;   
    & ul{
        margin-top: 100px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        & li{
            width: 100%;
            padding: 10px 0 10px 50px;
            &:hover{
                border-right: 3px solid white;
                background-color: rgba(0, 0, 0, 0.185)
                ;
            }
        }
        & li a{
            color: white;
            font-size: 20px;
            font-weight: 400;
        }
    }
}
.icon-hamburguesa{
    z-index: 4;
}
.fijar{
    position: fixed;
}
.ocultar-menu{    
    display: none;
}
.posicionar-menu{
    animation: desplegar-x .4s linear;
    display: flex;
}

@keyframes desplegar-x{
    0%{
        transform:translateX(-100%) ;
    }
    100%{
        transform:translateX()
    }
}

/*Estilos de nav slide secundario*/

.nav-encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;     
}
.icon-nav-encabezado{
    color: white;
    font-weight: 200;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: all .5s ease;
    &:hover{
        background-color: rgb(14, 14, 14);
    }
}
.nav-encabezado-list{
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    gap: 0 40px;
    padding: 4px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.mostrar{
    display: flex;
}
.nav-encabezado-list li{
    text-align: center;
    padding: 10px;
    width: 150px;
    
}
.nav-encabezado-list li a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    &:hover{
        text-decoration: underline;
    }
}

/*Estilos de divisor*/
.divisor{
    margin: 20px 0;
    width: 100%;
    height: 1px;
    opacity: 0.4;
    background-color: rgb(189, 189, 189);
}
/*Estilos del main principal*/
.main-pagina-principal{
    margin: 20px 20px;
    gap: 20px;
}
/*Estilos para las secciones*/
.silver-coleccion{
    position: relative;
    padding: 10px;
    overflow-x: hidden; 
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title-section{
    text-align: center;
}
.title-section h2{
    display: inline;
    font-size: bolder;
    font-size: calc(12px + 0.9vw);
    font-weight: 300;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(85, 68, 85);
    border-radius: 4px;
    padding: 0 10px;
    white-space: nowrap;
}
/*Estilos para las tarjetas*/

.contenedor_tarjeta{
    width: 350px;
    height: 600px; 
    position: relative;
    background-color: rgb(251, 251, 251);
    transition: all .2s;
    &:hover{
        transform: scale(1.01);
        
    }
}

.contenedor-imagen-tarjeta{
    width: 100%;
    height: 70%;
    background-color: rgb(0, 119, 255);
    overflow: hidden;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .2s;
        &:hover{
            transform: scale(1.05);
        }
    }
}

.contenedor-descripcion-tarjeta{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.title-tarjeta{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.decripcion-tarjeta{
    font-size: 13px;
    margin: 10px 0;
    width: 100%;
    height: 36px;
    text-overflow: ellipsis;
}
.oferta_tarjeta{
    font-size: 11px;
    text-decoration: line-through;
    color: darkgrey;
}

.cuotas-tarjetas{
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 2%;
}

.contenedor-btns-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    gap: 20px;
}
.btn-tarjeta-comprar{
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 10px;
    background-color: black;
    width: 100px;
    border-radius: 20px;
    margin-top: 10px;
    &:hover{
        background-color: rgb(15, 15, 15);
    }
}
.btn-ver-mas{
    color: black;
    font-size: 13px;
    transition: ease-in .2s;
    &:hover{
        text-decoration: underline;
    }
}

.subtitle-section{
    text-align: center;
    color: white;
    background: rgb(226, 230, 17);
    border: 2px solid rgb(85, 68, 85);
    border-radius: 4px;
    margin-bottom: 10px;
}

.oferta_del_dia{
    position: relative;
    padding: 10px;
    overflow-x: hidden; 
    gap: 20px; 
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor_tarjeta_esp{
    width: 350px;
    height: 600px;
    position: relative;
    background-color: rgb(251, 251, 251);
}

.image_animation{
    width: 100%;
    height: 70%;
    background-color: rgb(0, 119, 255);
    overflow: hidden;
    background-image: url(./imgs/model_sombrero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: change;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% { background-image: url(./imgs/model_sombrero.png); }
    15% { background-image: url(./imgs/model_sombrero.png); }
    30% { background-image: url(./imgs/model_with_glasses.png); }
    50% { background-image: url(./imgs/model_with_glasses.png); }
    75% { background-image: url(./imgs/model_with_with_dress.png); }
    90% { background-image: url(./imgs/model_with_with_dress.png); }
    100% { background-image: url(./imgs/model_sombrero.png); }
}


/*Nuevo posicionamiento de precio*/
.contenedor_precio{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contendedor_precio-descuento{
    display: flex;
    gap: 7px;
    align-items: flex-start;
}
.precio2{
    color: rgb(214, 193, 193);
    font-size: 10px;
    text-decoration: line-through;
}

/*Estilos pestaña proximamente*/
.prox-body{
    display: flex;
    flex-direction: column;
    height: 100%;
} 
.prox-title{
    font-size: calc(20px + 2vw);
    color: black;
    text-align: center;
    margin: 30vh 0;
}