@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
.contenedor-encabezado{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.contenedor-logo-center{
    text-align: center;
    & h4{
        color: white;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
    }
    & span{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 200;
        color: white;
    }
}
.icons-left{
    display: flex;
    gap: 10px;
}
.icons-right{
    display: flex;
    gap: 10px;
}
.icon-encabezado{
    color: white;
    font-weight: 100;
    cursor: pointer;
    padding: 3px;
    transition: all .2s;
    &:hover{
        font-weight: 200;
        background-color: rgb(12, 12, 12);
    }
}
/*Estilos para icono de iniciar Sesion*/

/*Estilos para el carrito de compras*/
.icon-trolley{
    position: relative;
}
.trolley-contador{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#ff6600 ;
    padding: 2px;
    font-weight: 500;
    font-size: 10px;
}
/*Estilos de divisor*/
.divisor{
    width: 100%;
    height: 1px;
    background-color: rgb(189, 189, 189);
}
/*Estilos del main principal*/
.main-pagina-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    gap: 20px;
}
/*Estilos para las secciones*/
.silver-coleccion{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}
.title-section{
    font-size: 20px;
    font-weight: 300;
}
/*Estilos para las tarjetas*/

.contenedor-tarjeta{
    width: 300px;
    position: relative;
    height: 500px;
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contenedor-imagen-tarjeta{
    width: 100%;
    height: 70%;
    background-color: rgb(0, 119, 255);
    overflow: hidden;
    & img{
        width: 100%;
        transition: all .2s;
        &:hover{
            transform: scale(1.05);
        }
    }
}

.contenedor-descripcion-tarjeta{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title-tarjeta{
    font-size: 14px;
    font-weight: 600;
}
.decripcion-tarjeta{
    font-size: 13px;
}
.cuotas-tarjetas{
    font-size: 12px;
}

.contenedor-btns-tarjeta{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 0 5px;
}
.btn-tarjeta-comprar{
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 10px;
    background-color: black;
    width: 100px;
    &:hover{
        background-color: rgb(15, 15, 15);
    }
}
.btn-tarjeta-info{
    text-align: center;
    width: 100px;
    font-size: 14px;
    color: white;
    padding: 10px;
    background-color: black;
    &:hover{
        background-color: rgb(3, 36, 18);
    }
}
