@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
a{
    text-decoration: none;
}
.contenedor-texto-en-movimiento{
    display: flex;
    overflow-x: hidden;
    width: 100%;
    gap: 100px;
    background-color: black;
}
.texto-en-movimiento{
    color: white;
    animation: scroll 20s linear infinite;
    font-size: 12px;
}

@keyframes scroll { 
    0%{
        transform: translateX(-100%);/*Posicion Inicial*/
    }
    100%{
        transform: translateX(250%);/*Posicion Final*/
    }
}
/*Estilos de mi encabezado*/
.contenedor-encabezado-nav{
    background-color: black;
}
.contenedor-encabezado{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}
.contenedor-logo-center{
    text-align: center;
    & h4{
        color: white;
        font-weight: 400;
        font-size: 40px;
        text-transform: uppercase;
    }
    & span{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 200;
        color: white;
    }
}
.icons-left{
    display: flex;
    gap: 10px;
}

.icons-right{
    display: flex;
    gap: 10px;
}
.icon-encabezado{
    color: white;
    font-weight: 300;
    cursor: pointer;
    padding: 3px;
    font-size: 28px;
    transition: all .2s;
    &:hover{
        font-weight: 500;
        background-color: rgb(12, 12, 12);
    }
}
/*Estilos para icono de iniciar Sesion*/

/*Estilos para el carrito de compras*/
.icon-trolley{
    position: relative;
}
.trolley-contador{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#ff6600 ;
    padding: 2px;
    font-weight: 500;
    font-size: 10px;
}
/*Estilos de campo de busqueda*/
.contenedor-busqueda{
    display: none;
    width: 40%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    gap: 20px;
    & #btn-cerrar-search{
        margin-left: 10px;
        margin-top: 10px;
        color: black;
        cursor: pointer;
        &:hover{
            background-color: white;

        }
    }
    & .campo-busqueda{
        padding: 0 10px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        & input{
            font-family: "Montserrat";
            height: 35px;
            width: 100%;
            padding: 0 10px;
            border: 1px solid rgb(187, 187, 187);
            &:hover{
                border: 1px solid rgb(134, 134, 134)
            }
            &:focus{
                outline: none;
                border: 1px solid rgb(99, 99, 99)
            }
        }
        & span{
            position: absolute;
            right: 10px;
            color: rgb(187, 187, 187);
            transition: color .2s;
            cursor: pointer;
            &:hover{
                color: rgb(75, 75, 75);
            }
        }
        

    }
}


/*Estilos nav slider principal*/
.nav-slider-principal{
    position: fixed;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.884);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    justify-content:left;
    align-items: flex-start;   
    & ul{
        margin-top: 100px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        & li{
            width: 100%;
            padding: 10px 0 10px 50px;
            &:hover{
                border-right: 3px solid white;
                background-color: rgba(0, 0, 0, 0.185)
                ;
            }
        }
        & li a{
            color: white;
            font-size: 20px;
            font-weight: 400;
        }
    }
}
.icon-hamburguesa{
    z-index: 4;
}
.fijar{
    position: fixed;
}
.ocultar-menu{    
    display: none;
}
.posicionar-menu{
    animation: desplegar-x .4s linear;
    display: flex;
}

@keyframes desplegar-x{
    0%{
        transform:translateX(-100%) ;
    }
    100%{
        transform:translateX()
    }
}

/*Estilos de nav slide secundario*/

.nav-encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;     
}

.icon-nav-encabezado{
    color: white;
    font-weight: 200;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: all .5s ease;
    &:hover{
        background-color: rgb(14, 14, 14);
    }
}

.nav-encabezado-list{
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    gap: 40px;
    padding: 4px 20px;
}
.mostrar{
    display: flex;
}
.nav-encabezado-list li{
    text-align: center;
    padding: 10px;
    width: 150px;
    
}
.nav-encabezado-list li a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    &:hover{
        text-decoration: underline;
    }
}

/*Estilos de divisor*/
.divisor{
    margin: 20px 0;
    width: 100%;
    height: 1px;
    opacity: 0.4;
    background-color: rgb(189, 189, 189);
}
/*Estilos del main principal*/
.main-pagina-principal{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    gap: 20px;
}
/*Estilos para las secciones
.silver-coleccion{
    position: relative;
    padding: 10px;
    overflow-x: hidden; 
    gap: 20px;
    white-space: nowrap; 
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title-section{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}*/

/* Estilo del formulario de contacto */

* {
	box-sizing: border-box;
}

body {
	font-family: "Monserrat";
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}


.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}


.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

.trabaja_con_nosotros {
	display: grid;
    column-span: 2 ;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
    align-items: center;
    gap: 3px;
    cursor: pointer;

}

#file {
    font-family: Monserrat;
    font-size: 0.8em;
    font-weight: bold;
    border: 2.5px;
}

.btn-subida {
    margin-top: 1vh;
    font-family: Monserrat;
    font-size: 1em;
    font-weight: bold;

}