/*MediaQuerys para modo tablet*/
@media only screen and (max-width: 768px) {
    /*Estilos del logo */
    .contenedor-logo-center{
        & h4{
            font-size: 37px;
        }
        & span{
            font-size: 12px;
        }
    }
    /*Estilos de busqueda y menu hamburguesa*/
    .contenedor-busqueda{
        width: 60%;
    }
    .nav-slider-principal{
        width: 60%;
    }
    .main-pagina-principal{
        margin: 20px 0px;
    }
    /*Estilos de las tarjetas*/
    .contenedor_tarjeta{
        width: 300px;
    }

}
/*MediaQuerys para modo Celular*/
@media only screen and (max-width: 400px){
    header{
        padding-bottom: 10px;
    }
    .nav-encabezado{
        display: none;
    }
        /*Estilos del logo */
        .contenedor-logo-center{
            & h4{
                font-size: 34px;
            }
            & span{
                font-size: 9px;
            }
        }
        /*Estilos de busqueda y menu hamburguesa*/
        .contenedor-busqueda{
            width:100%;
        }
        .nav-slider-principal{
            width:100%;
        }
}